@import "@sass/imports";

@keyframes up-to-down {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}

#resumeGuide {
  height: fit-content;
  width: fit-content;
  max-width: 30rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    height: auto;
    object-fit: contain;
    animation-name: up-to-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
  }

  p {
    font-size: 0.9rem;
    text-align: justify;
    color: grey;
  }

  button {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    background: $color-1;
    color: white;
    border: 0;
    @include btn-effect;
  }
}
