@import "@sass/imports";

#singleResume {
  height: calc(100vh - 5rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  & .pdf_viewer {
    height: 100%;
    width: 100%;
    background: rgb(224, 224, 224);
  }
}

#singleResume .reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  & > * {
    width: 100%;
  }

  &__header {
    background: white;
    height: fit-content;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    button {
      padding: 0.7rem 1rem;
      @include btn-effect;
    }

    button.info {
      border: 0;
      color: $color-1;
      padding: 0.5rem;
      background: transparent;
      border-radius: 10px;
    }

    button.like {
      border: 0;
      color: white;
      background: $color-1;
      border-radius: 10px;
    }
  }
}
