@import "@sass/imports";

#upload {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  width: 30rem;
}

#upload form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: white;
  margin: 1.5rem;
  border-radius: 10px;
  border: 1px solid $grey-light;
  label {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    & span {
      color: rgb(255, 117, 117);
    }
  }
  & > *:not(label) {
    padding: 0.7rem 1rem;
    border-radius: 7px;
    outline: none;
    color: $black-text;
  }
  & > *:not(label, button) {
    border: 1px solid #d9d9d9a7;
  }

  #upload-field {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & span {
      color: $color-1;
    }
    i {
      font-size: 2rem;
      color: $color-1;
      margin: 0.5rem 0;
    }
    p {
      font-size: 0.7rem;
    }
    border: 2px dashed #d9d9d9a7;
  }

  button[type="submit"] {
    margin-top: 1rem;
    border-radius: 10px;
    background: $color-1;
    color: white;
    border: 0;
    @include btn-effect;
  }
}

#confidentiality {
  & p {
    font-size: 0.7rem;
    color: $grey-dark;
    text-align: center;
    margin: 0.5rem 0;
  }
}
