@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");
@import "@sass/imports.scss";

// Reset des styles par défaut
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

button {
  cursor: pointer;
  font-weight: 500;
}
