@import "@sass/imports.scss";

#header__profil {
  display: flex;
  align-items: center;
  & > * {
    margin: 0 0.5rem;
  }
  img {
    max-width: 2rem;
    border-radius: 100px;
  }
  .profil {
    border-radius: 100px;
    display: flex;
    place-items: center;
    padding: 0.2rem;
    background: transparent;
    border: 2px solid $color-1;
    cursor: pointer;
  }
}