@import "@sass/imports";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  button {
    padding: 0.4rem 0.6rem;
    background: white;
    border: 0;
    &:not(:first-child) {
      border-left: 0.5px dashed #ccc;
    }

    &:not(:nth-child(2)) {
      @include btn-effect;
      &:active {
        outline: 2px solid $color-1;
        filter: brightness(1.1);
        i {
          color: $color-1;
        }
      }
    }
  }
}
