@import "@sass/imports.scss";

#resumes__filter {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  & .part__2,
  & .part__1 {
    display: flex;
    align-items: center;
    & > * {
      margin: 0 0.5rem;
    }
  }
}

.btn__upload {
  background: $color-1;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.7rem 1rem;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    filter: brightness(0.99);
    transform: scale(0.99);
  }
}
